main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    height: 80vh;
    width: 80vw;
    background: #EEEEEE;

    display: flex;
    justify-content: space-between;

}

.left ,.right{
    border: ;
    width: 40vw;
    display: flex;
}
.left{
    justify-content: center;
    align-items: center
}
.left .leftdiv{
    min-width: 20vw;
    height: 60vh;
    
}
h1{
    width: 359px;
    height: 252px;
    top: 200px;
    left: 288px;
    
font-family: Inter;
font-size: 104px;
font-weight: 700;
line-height: 126px;
text-align: ;


}
h2{
    width: 322px;
    height: 43px;
    top: 43px;
    left: 104px;
    font-family: inter;
    font-weight: 700;
    font-size: 34px;
    line-height: 43px;
}
p{
    width: 250px;
height: 50px;
top: 250px;
left: 288px;

}

.right{
justify-content: space-around;

}

.right1 {
    /* border: 1px solid #456;
    width: 20vw; */
    width: 435px;
    height: 727.px;
    top: 112px;
    left: 916px;
    border-radius: 21.px;
    

}
img{
    width: 385px;
}
 
 .right2{
    width: 435px;
height: 727px;
top: 112px;
left: 1395px;
border-radius: 21px;
background-color: #FFFFFF;
;

 }
 #para{
    width: 172px;
height: 34p;
font-family: Inter;
font-size: 24px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0em;
text-align: center;
background:;

 }
 button{
    width: 383px;
    height: 69px;
    top: 631px;
    left: 26px;
    border-radius: 13px;
    
background: #2E6434;

 }
 h4{
    width: 348px;
height: 32px;
top: 352px;
left: 43px;

    font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 44px;
letter-spacing: 0em;

 }